*{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    height:100%;
    width: 100%;
}
.slider-wrapper{
    height:100%;
    width:100%;
}
.animated{
    height:100%;
    width:100%;
    
}
.left-side {
   
    height: 100%;
    width: 50%;
    /* align-content: stretch; */


}
.left-side img{
    height: 100%;
    width: 100%;

}

.right-side {
   
     height: 100%;
     
    width: 50%;
   background-color: white;

}


.right-side nav{
    height:10%;

}

.nav-links {
    /* flex: 1; */
    text-align: right;
    /* background-color: #000000; */

}



.nav-links ul li {

    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
   

}

.nav-links ul li p{

    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;

}


.nav-links ul li  ::after {

    content: '';
    width: 0%;
    /* border-bottom: #000000;   */
    height: 2px;

    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;


}

.nav-links ul li  :hover::after {

    width: 100%;


}


.home-cont{
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10%;
    border-radius: 10%;
    height: 80%;
    /* max-height: fit-content; */
    /* background-color: ; */
    margin-left: 5%;
    margin-right: 5%;
    /* margin-bottom: 5%; */
    box-shadow: 0px -1px 48px -20px rgba(176,173,176,1);
    /* max-height: fit-content; */
    /* width: 80%;
     */
     justify-content: space-around;
 
}

.home-cont h4{

    color: rgb(186,97,98);
    
}




 .icons{
    text-align: center;
/* heigh 80%; */
width:100%;
justify-self: end;
align-self: end;
/* transform: translatey(60px); */
/* margin-top: 15%; */


}

.icons .fa{
    color: rgb(186,97,98);
    margin: 0 13px;
    
    cursor: pointer;
    padding:18px 0;
  font-size: 30px;

    
    
    }

    .sign  {
    
     text-decoration:dashed;
     cursor: pointer;
     color: #67110b;
     

    }

    .icons-1{
        display: flex;
        justify-content: center;
        align-items: center;
        /* bottom: 0;
        position: absolute; */
        text-align: center;
        width: 100%;
    }

    .home-text{
        width: 80%;
        text-align: center;
        justify-self: center;
        max-height: fit-content;
align-self: center;
color: #1C1C1C;
/* font-size: larger; */
    }

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    /* margin-top: 5%; */

}



.course p {
    /* color: #ffffff; */
    font-size: 14px;
    font-weight: 300;
    /* line-height: 22px; */
    /* padding: 10px; */
    /* padding-top:10%; */
}
.course h3{
    padding-top: 10%;
}
.row {

    margin-top: 5%;
    display: flex;
    justify-content: space-around;
   
}

.course-col {

    /* flex-basis: 35%; */
    background: #ffffff;
    border-radius: 10px;
    width:40%;
    /* color:#000000; */
    padding: 2%;
    box-sizing: border-box;
    transition: 1s;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    
}

.h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}


.course-col:hover {

    box-shadow: 0 0 60px 0px rgba(0, 0, 0, 0.2);
}

.action-btn{
    display: flex;
    flex-direction: column;
  
    justify-content: space-around;
    margin-top: 5%;
    height:18%;
    justify-self: center;
align-self:center;
}

.btn {

   margin-bottom: 3%;
    text-decoration: none;
    color: #000000;
    border: 2px solid #000000;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    
    cursor: pointer;
   
    
}

.btn:hover {

    border: 1px solid #67110b;
    background: #67110b;
    transition: 1s;
    color: #fff3f3;

}

.btn1{
    
    text-decoration: none;
    color: #000000;
    border: 2px solid #000000;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    
    cursor: pointer;
    
}

.btn1:hover {

    border: 1px solid #67110b;
    background: #67110b;
    transition: 1s;
    color: #fff3f3;
    text-decoration: none;

}

.cr-img{
    display: flex;
    justify-content: center;
    align-items: center;

}

.cr-thumb{

    height: 100%;
    width: 50%;
}
.right-car{
    height: 100%;
    width: 80%;
}
.carousel-slider{
    height: 100%;
}
.right-car-content{
    height: 100%;
}

.entry-header{
    height: 100%;
    width: 100%;
}

/* .control-next.control-arrow::before{
    content: '';
    border: solid #0135AD;
    /* border-width: 0 8px 8px 0; */
    /* display: inline-block; */
    /* padding: 14px; */
    /* transform: rotate(135deg);
    -webkit-transform: rotate(135deg); */

 
.ar-flex{
  display: flex;
  flex-direction: row;
  height:90%;

} 

.arr-left {
    margin-left:5%; 
    margin:auto;
    align-self: center;
    justify-content: center;
    cursor: pointer;

}

.arr-right {
    margin-right:5%;
     margin:auto; 
    align-self: center;
    justify-content: center;
    cursor: pointer;


}

/* 
.control-dots{
    margin-top: 20px;
} */

.third-page{


    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 15%;
    display: flex;
    flex-direction: column;

}

.contact{
    display: flex;
    justify-content: space-between;
}

.contact-col{

    flex-basis: 48%;
    margin-bottom: 30px;

}

.contact-col div{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;

}

.contact-col div .fa{

    font-size: 28px;
color: #67110b;
margin: 10px;
margin-right: 30px;
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
    font-size: 20px;
margin-bottom: 5px ;
color: #555;
font-weight: 400;

}
h1{
    font-size: 200% !important;
}